.navbar{

    padding: 12px 0;

}

.navbar-brand{

    font-size: 26px;

}

.nav-link{

    font-weight: 500;

    transition: .3s;

}

.nav-link:hover{

    color: #ffc107 !important;

}

.btn{

    border-radius: 10px;

}


.navbar-collapse > a.nav-link,
.navbar-collapse > button.nav-link {
    color: rgba(255, 255, 255, 0.85);
}

.navbar-collapse > a.nav-link:hover,
.navbar-collapse > button.nav-link:hover {
    color: #ffc107 !important;
}