<section class="container py-5">

    <div class="text-center mb-5">

        <h1 class="fw-bold">Contact Us</h1>

        <p class="text-muted">
            Feel free to contact us through the following information.
        </p>

    </div>

    <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="card shadow border-0 p-5 text-center">

                <h3 class="mb-4">TechStore</h3>

                <hr>

                <p class="fs-5">
                     <strong>Email</strong><br>
                    support@techstore.com
                </p>

                <hr>

                <p class="fs-5">
                     <strong>Phone</strong><br>
                    +20 100 000 0000
                </p>

                <hr>

                <p class="fs-5">
                     <strong>Location</strong><br>
                     Egypt
                </p>

                <hr>

                <p class="fs-5">
                     <strong>Working Hours</strong><br>
                    Sunday - Thursday<br>
                    9:00 AM - 6:00 PM
                </p>

            </div>

        </div>

    </div>

</section>