<div class="container mt-5">
  <div class="card shadow p-4 mx-auto" style="max-width: 500px">
    <h2 class="text-center mb-4">Create Account</h2>

    <form (ngSubmit)="register()">
      <div class="mb-3">
        <label class="form-label">Name</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="registerData.name"
          name="name"
          placeholder="Enter your name"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>

        <input
          type="email"
          class="form-control"
          [(ngModel)]="registerData.email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>

        <input
          type="password"
          class="form-control"
          [(ngModel)]="registerData.password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>
      @if (errorMessage) {
        <div class="alert alert-danger">
          {{ errorMessage }}
        </div>
      }

      <button class="btn btn-primary w-100" type="submit">Register</button>
    </form>

    <div class="text-center mt-4">
      <span>Already have an account?</span>

      <a routerLink="/login" class="text-primary fw-bold text-decoration-none ms-1"> Login </a>
    </div>
  </div>
</div>
