.card{

    border-radius:20px;

}

.form-control{

    height:50px;

    border-radius:10px;

}

.btn{

    height:50px;

    border-radius:10px;

    font-weight:bold;

}

a{

    text-decoration:none;

}

a:hover{

    text-decoration:underline;

}