<div class="card h-100 shadow">

  <img
    [src]="product.image"
    class="card-img-top"
    height="250"
  >

  <div class="card-body">

    <h4>{{ product.title }}</h4>

    <p>{{ product.description }}</p>

    <h5 class="text-success">
      {{ product.price }} EGP
    </h5>

    <p>
      Stock: {{ product.stock }}
    </p>

    @if (showLoginMessage()) {
      <div class="alert alert-warning py-1 px-2 mb-2">
        Please login first
      </div>
    }

    <button
      class="btn btn-primary w-100"
      (click)="addToCart()">
      Add To Cart
    </button>

  </div>

</div>